{% extends "default.html" %}
{% block main %}

<div class="row">
	<form id="login-form" method="POST" class="col s6 offset-s3">

		{% csrf_token %}
		<br>
		<br>
		<div class="row">
			<div class="col s6 offset-s3 center teal-text">
				<h3> Login</h3>
</div>
			<br>
			<br>
				<div class="input-field col s6 offset-s3">
				<input id="username" name="username" type="text" class="validate">
				<label class="active" for="username">Username/Email:</label>
				</div>
			<br>
			<div class="input-field col s6 offset-s3">
				<input id="password" name="password" type="text" class="validate">
				<label class="active" for="password"> Password</label>
			</div>

			<div class="col s6 offset-s3 center">
				<button class="btn-large waves-effect waves-light teal darken-3 white-text" type="submit">Submit</button>

			</div>
			


		</div>

		</form>
	</div>
{% endblock %}

