{% extends "default.html" %}

{% block header %}
    {% include "topnav.html" %}
{% endblock %}

{% block main %}
    <div class="row center">
        <h4>Let's get you signed up!</h4>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <form action="{{ schedule_processing }}" method="post">
                <div class="row">
                    <div class="col s3">
                        <br>
                        <h5>Schedule Title:</h5>
                    </div>
                    <div class="input-field col s7">
                        <input id="schedule-name" name="schedule-name" type="text" value="{{ schedule_name }}">
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        <br>
                        <h5>Schedule Description:</h5>
                    </div>
                    <div class="input-field col s7">
                            <textarea id="schedule-description" class="materialize-textarea"
                                      name="schedule-description" value="{{ schedule_description }}"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        <h5>Start Time:</h5>
                    </div>
                    <div class="row col s7">
                        <input type="time" name="start-time">
                    </div>
                </div>


                <div class="row">
                    <div class="col s3">
                        <h5>End Time:</h5>
                    </div>
                    <div class="row col s7">
                        <input type="time" name="end-time">
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        <h5>Days you're not free:</h5>
                    </div>
                    <div class="input-field col s7">
                        <select multiple name="days">
                            <option value="" disabled select>Choose which days it applies to</option>
                            <option value="1">Sunday</option>
                            <option value="2">Monday</option>
                            <option value="3">Tuesday</option>
                            <option value="4">Wednesday</option>
                            <option value="5">Thursday</option>
                            <option value="6">Friday</option>
                            <option value="7">Saturday</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col s3">
            {# TODO: Add the logic for the list #}
            <span class="flow-text">3 col (offset-6)</span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}