{% extends "default.html" %}

{% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block main %}
    <br>
    <div class="row">
        <h4 class="teal-text center-align">Let's get you signed up!</h4>
    </div>
    <div class="row">
        <form class="col s4 push-s4" method="post" action="{{ action_user_registration }}">
            {% csrf_token %}

            {% if error %}
                <div class="row">
                    <i class="material-icons red-text left">warning</i> Pick a new username!
                </div>
            {% endif %}

            <div class="row input-field">
                <label for="username">Username</label>
                <input id="username" name="username" value="" type="text" required>
            </div>

            {% if error %}
                <div class="row">
                    <i class="material-icons red-text left">warning</i> Pick a different email!
                </div>
            {% endif %}

            <div class="row input-field">
                <label for="email">Email</label>
                <input id="email" name="email" value="" type="email" class="validate" required>
            </div>

            <div class="row input-field">
                <label for="password">Password</label>
                <input id="password" name="password" value="" type="password" required>
            </div>

            <div id="password-error">
                {# Load an error message here #}
            </div>

            <div class="row input-field">
                <label for="retype-password">Retype Password</label>
                <input id="retype-password" type="password" required>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" id="form-submit">Submit
                <i class="material-icons right">send</i></button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/passwordcheck.js"></script>

    <script>
        $(document).ready(function () {
            $('#form-submit').click(
                    function (e) {
                        if (!arePasswordsEqual($('#password').val(), $('#retype-password').val())) {
                            $('#password-error').load('static/static_html/password_error.html', function () {
                                alert("Error message loaded!");
                            });
                            e.preventDefault();
                        }
                    }
            );
        });
    </script>
{% endblock %}